@media all and (max-width: 1220px){
    .top{
        margin-top: 100px;
    }
}

@media all and (max-width: 1200px){
    .queries__name{
        width: 150px !important;
        padding-top: 15px !important;
        padding-bottom: 15px !important;     
    }

    .queries__number{
        width: 150px !important;
        padding-top: 15px !important;
        padding-bottom: 15px !important;    
    }
    .queries__btn{
        width: 75px !important;
        padding-top: 15px !important;
        padding-bottom: 15px !important; 
    }
}

@media all and (max-width: 1090px) {
    .links ul li:nth-child(1) {
        margin-left: 0 !important;
    }


    .slick-dots {
        bottom: -10%;
        display: block !important;

    }

    .slick-dots li {
        width: 30px;
    }

    .slick-dots li button:before {
        font-size: 100px;
        opacity: .45
    }

    .slider .slick-arrow {
        display: none !important;
    }

    .slick-dots li.slick-active button:before {
        color: white;
        opacity: .75;
        transition: 1s;
    }

    .title h2:before{
        display: none !important;

    }
    
    .title  h2:after{
        display: none !important;

    }
    
    .title h2 span:before{
        display: none !important;

    }
    
    .title h2 span:after{
        display: none !important;

     }

     .services__description__inner{
        width: 800px !important;
     }

     .services__description__inner .slick-prev{
         left: 89.7% !important;
     }

     .clients__content{
        padding: 0 !important; 
    }
}

@media all and (max-width: 1030px){
    .queries__btn{
        right: 0 !important;
        border-top-right-radius: 0 !important; 
        border-bottom-right-radius: 0 !important;
        margin-top: 4px !important;
        width: 348px !important;
        border-top-left-radius: 5px !important;
        border-bottom-left-radius: 5px !important;
        border-top-right-radius: 5px !important;
        border-bottom-right-radius: 5px !important;
       
    }

    .queries__number{
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
    }
}

@media all and (max-width: 1010px){
    .feedback__img:nth-child(3){
        display: none;
    }
}

@media all and (max-width: 950px){
    form{
        display: flex;
        flex-direction: column;
    }

    .queries__name{
        width: 205px !important;
        border-top-right-radius: 5px !important;
        border-bottom-right-radius: 5px !important;
        
    }

    .queries__number{
        width: 205px !important;
        border-top-right-radius: 5px !important;
        border-bottom-right-radius: 5px !important;
        border-left: 1px solid white !important;
        border-top-left-radius: 5px !important;
        border-bottom-left-radius: 5px !important;
        right: 0 !important;
        
    }

    .queries__btn{
        width: 230px !important;
    }

    .queries__form{
    padding-top: 13px !important;
    }
    .info__inner{
        flex-direction: column-reverse !important; 
    }

    .info__form{
        display: flex;

    }
    .info__btn{
        margin-top: 0 !important;
    }

    .info__social__inner{
        top: 2px !important;
    }
}

@media all and (max-width: 900px){
    .about__img {
        right: 30% !important;
    }

    .about__description{
       left: 30% !important;

    }

    .services__description__inner{
        width: 700px !important;
     }
     .feedback__people{
        display: none !important;
    }

    .feedback__racomandation{
        justify-content: center !important;
    }

    .feedback__inner-text{
        flex: 100% !important;
        width: 100% !important;
    }

    .feedback__racomandation-text{
        margin: 0 auto !important;
    }

    .counter{
        left: 0;
        right: 0;
        margin: 0 auto;
    }
}

@media all and (max-width: 830px){
    .about__img {
        right: 15% !important;
    }

    .about__description{
        top: 10px !important;
       left: 15% !important;
    }

    .queries__name{
        width: 150px !important;
        
    }

    .queries__number{
        width: 150px !important;

        
    }

    .queries__btn{
        width: 175px !important;
    }
}

@media all and (max-width: 780px){
    .queries__content{
        flex-direction: column;
        justify-content: center !important;
        text-align: center;
    }

    .queris__text{
        padding-bottom: 0 !important;
    }

    .queris__text p{
        
    margin-left: auto;
    margin-right: auto;

        width: 300px !important;

    }

    form{
     flex-direction: row;
    padding: 0 0 50px 0 !important;   
    }

    .queries__form{
        margin: 0 auto !important;
    }

    .queries__inner{
        height: 100% !important;
    }

    .queries__name{
        border-top-left-radius: 5px !important;
        border-bottom-left-radius: 5px !important;
        
    }

    .queries__btn{
       bottom: 3px;
    }
    
}

@media all and (max-width: 762px) {

    .links,
    .social {
        display: none;
    }

    .mobile__menu {
        display: block !important;
    }

    .mobile__menu__btn {
        position: absolute;
        right: 30px;
        top: 19px;
        cursor: pointer;
    }


    .mobile__menu span:nth-child(2) {
        background-color: #a12350
    }

    .menu__links {
        position: absolute;
        display: none;
        line-height: 30px;
        text-align: center;
        top: 69px;
        left: 50%;
        height: 100%;
        transform: translateX(-50%);
        width: 100%;
        background-color: rgba(36, 35, 35, 0.939);
        animation: mobileM .5s ease-in-out;
        z-index: 2;
    }

    @keyframes mobileM{
        0%{height: 0}
       100% {height: 100%; transition: 2s;}
    }
    @keyframes mobileL{
        0%{opacity: 0;}
       100% {opacity: 1;}
    }

    .menu__links ul li {
        padding: 5px 0;
        animation: mobileL 1.8s ease-in-out;
        text-transform: uppercase;
        font-size: 5rem;
    }

    .menu__links ul li:nth-child(1){
        padding-top: 20px;
    }

    nav ul li {
        display: block !important;
    }

    nav {
        display: block !important;
        z-index: 3;
    }

    .slider__inner{
        width: 400px !important;
        height: 200px !important;
    padding-bottom: 27px !important;
    }

    .slider__content h1{
        font-size: 30px !important;
        width: 100%;
    }

    .slider__content p{
        font-size: 13px !important;
    }

    .services__description__inner{
        width: 500px !important;
     }

     .services__description__inner .slick-prev{
        left: 83.7% !important;
    }

}

@media all and (max-width: 670px){
    .about__img {
        right: 0 !important;
        box-shadow: 0 0 0 0  !important;
        
    }

    .about__img:before{
        content: "";
        width: 100%;
        position: absolute;
        height: 100%;
        background-color: black;
        opacity: .6;
    }

    .about__description{
       left: 0 !important;
       top: 0 !important;
        box-shadow: 0 0 0 0  !important;
    }
    .services__description__inner{
        width: 300px !important;
     }

     .services__description__inner .slick-prev{
        left: 72.7% !important;
    }
}

@media all and (max-width: 620px){
    .slider__inner{
        width: 300px !important;
        height: 150px !important;
    }

    .slider{
        padding-top: 15vh !important;
    }

  

    .slider__content h1{
        font-size: 29px !important;
        width: 100%;
        position: relative;
        bottom: 15px;

    }

    .slider__content p{
        font-size: 11.5px !important;
        position: relative;
        bottom: 15px;
    }

    .slick-dots li button:before {
        font-size: 50px;
        opacity: .45
    }

    form{
        display: flex;
        flex-direction: column;
    }

    .queries__name{
        width: 205px !important;
        border-top-right-radius: 5px !important;
        border-bottom-right-radius: 5px !important;
        
    }

    .queries__number{
        width: 205px !important;
        border-top-right-radius: 5px !important;
        border-bottom-right-radius: 5px !important;
        border-left: 1px solid white !important;
        border-top-left-radius: 5px !important;
        border-bottom-left-radius: 5px !important;
        right: 0 !important;
        
    }

    .queries__btn{
        width: 230px !important;
    }

    .queries__form{   
    padding-left: 0px !important;
    }

    

  

}

@media all and (max-width: 510px){
    .slider__inner{
        width: 280px !important;
        height: 130px !important;
    }
    
    .slider__content h1{
        font-size: 25px !important;
        width: 100%;
        position: relative;
        bottom: 20px;
    }

    .slider__content p{
        font-size: 10px !important;
        position: relative;
        bottom: 20px;
    
    }
    .slider{
        padding-top: 15vh !important;
    }


}

@media all and (max-width: 500px){

    .slider{
        padding-top: 15vh !important;
    }

    .slider__inner{
        width: 250px !important;
        height: 140px !important;
        padding: 100px 80px 100px 80px !important;
    }
    .slider__content h1{
        font-size: 24px !important;
        width: 100%;
        position: relative;
        bottom: 20px;
    }
    .slider__content p{
        font-size: 11px !important;
        position: relative;
        bottom: 20px;
    }

    .menu__links ul li{
        padding: 5px !important;
    }
    .menu__links ul{
        line-height: normal;
    }

    .about__content__inner{
        margin: 0 auto!important;
        width: 300px !important;

    }

    .about__img {
        width: 300px !important;
        top: 350px !important;
    }
    .about__img:before {
       height: 70% !important;
    }

    .about__img img{
        width: 300px !important;
        height: 300px !important;
    }
    
    .about__description{
        width: 300px !important;
    }

    .about__text{
        width: 300px !important;
        margin-left: 0 !important;
    }

    .about__text p{
        font-size: 11px !important;
    }
}

@media all and (max-width: 470px){
    .slider__inner{
        width: 250px !important;
        height: 140px !important;
        padding: 90px 30px 90px 30px !important;
    }
    .slider{
        padding-top: 15vh !important;
    }
    .slider__content h1{
        font-size: 24px !important;
        width: 100%;
        position: relative;
        bottom: 20px;
    }
    .slider__content p{
        font-size: 11px !important;
        position: relative;
        bottom: 20px;
    }

    .menu__links ul li{
        padding: 5px !important;
    }
    .menu__links ul{
        line-height: normal;
    }
    .queris__text span:nth-child(2):before{
        content: "" !important;
        display: inline-block !important;
        position: absolute !important;
        height: 32px !important;
        width: 3px !important;
        background-color: white !important;
        right: 3px !important
    }
    .info__social__inner{
        display: block !important;
        
        left: 72px !important;
    }

    .links__bottom{
        padding-right: 4px !important;
    }
}

@media all and (max-width: 320px){
    .slider__inner{
        width: 180px !important;
        height: 90px !important;
        padding: 60px 30px 90px 30px !important;
    }
    .slider{
        padding-top: 15vh !important;
    }
    .slider__content h1{
        font-size: 18px !important;
        width: 100%;
        position: relative;
        bottom: 30px;
    }
    .slider__content p{
        font-size: 11px !important;
        position: relative;
        bottom: 30px;
    }

    .menu__links ul li{
        padding: 0 !important;
     
    }
    .menu__links ul{
        line-height: normal;
    }

    .info__social__inner{
        display: block !important;
        
        left: 72px !important;
    }

    .links__bottom{
        padding-right: 4px !important;
    }
   
}